* {
	background-image: none;
    box-shadow: none;
}
window {
	background-color: rgba(12, 12, 12, 0.7);
}
button {
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
    border-color: rgba(198, 160, 246, 0.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 4px;
}

button:focus {
	background-color: rgb(138, 173, 244);
	outline-style: none;
}

button:active {
	background-color: rgb(139, 213, 202);
	outline-style: none;
}

button:hover {
	background-color: rgb(128, 135, 162);
	outline-style: none;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}
#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
