@define-color bg_dim #232A2E;
@define-color bg0 #2D353B;
@define-color bg1 #343F44;
@define-color bg2 #3D484D;
@define-color bg3 #475258;
@define-color bg4 #4F585E;
@define-color fg #D3C6AA;
@define-color red 	 #E67E80;
@define-color orange #E69875;
@define-color yellow #DBBC7F;
@define-color green  #A7C080;
@define-color aqua 	 #83C092;
@define-color blue 	 #7FBBB3;
@define-color purple #D699B6;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Cascadia Code;
  font-size: 12px;
  color: @fg;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
}

.modules-right > * > * {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}

#clock {
  color: @bg_dim;
  background: @aqua;
}

#network {
  color: @purple;
  background: @bg2;
}
#network.upload {
  color: @purple;
  background: @bg3;
  min-width: 75px;
}
#network.download {
  color: @purple;
  background: @bg4;
  min-width: 75px;
}

#wireplumber {
  color: @orange;
  background: @bg4;
}

#battery {
  color: @yellow;
  background: @bg3;
}

#backlight {
  color: @aqua;
  background: @bg1;
}

#disk {
  color: @bg4;
}

#memory {
  color: @purple;
  background: @bg0;
}

#temperature {
  color: @red;
  background: @bg0;
}

#cpu {
  color: @blue;
  background: @bg0;
}

#workspaces > * {
  background: @bg0;
  margin-right: 0px;
  padding: 0px 5px;
  padding-top: 0px;
}

#workspaces > .active {
  background: @red;
}

#workspaces > * label {
  color: @red;
  font-family: Pro Font;
}

#workspaces  > .active label {
  color: @bg_dim;
}

#mpris {
  color: @blue;
  padding-top: 0px;
  padding-left: 10px;
  /* border-top: 2px solid @blue; */
}

#window {
  color: @aqua;
  padding-top: 0px;
  padding-left: 10px;
}

#mpris.paused {
  color: @bg2;
}

#keyboard-state label {
  font-size: 16px;
  color: @yellow;
  opacity: 0;
}

#keyboard-state label.locked {
  opacity: 1;
}
