@import "macchiato.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Cascadia Code;
  font-size: 12px;
  color: @text;
}

window#waybar {
  background-color: alpha(@base, 0.3);
  border: 2px solid alpha(@crust, 0.1);
}
#window {
  padding-top: 0px;
  padding-left: 10px;
}

#workspaces > * {
  margin-right: 0px;
  padding: 0px 5px;
  padding-top: 0px;
}
#workspaces > .active {
  background: @lavender;
}
#workspaces > * label {
  color: @mauve;
}
#workspaces  > .active label {
  color: @crust;
}

.modules-right > * > * {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
}

#network.upload {
  min-width: 75px;
}
#network.download {
  min-width: 75px;
}
#disk {
  color: @peach;
}
#cpu {
  color: @blue;
}
#temperature {
  color: @red;
}
#memory {
  color: @yellow;
}
#wireplumber {
  color: shade(@green, 1.1);
  min-width: 50px;
}
